<div>
  <h1 mat-dialog-title>{{ isEdit ? 'Edit Product' : 'Create Product' }}</h1>

  <div mat-dialog-content>
    <form [formGroup]="createProductForm" (ngSubmit)="submit()">
      <mat-form-field appearance="fill" class="full-width">
        <mat-label>Product Name</mat-label>
        <input matInput formControlName="name" placeholder="Enter product name" />
        <mat-error *ngIf="createProductForm.get('name')?.hasError('required')">
          Product name is required
        </mat-error>
        <mat-error *ngIf="createProductForm.get('name')?.hasError('minlength')">
          Product name must be at least 3 characters long
        </mat-error>
      </mat-form-field>

      <mat-form-field appearance="fill" class="full-width">
        <mat-label>Product Description</mat-label>
        <textarea matInput formControlName="description" placeholder="Enter product description"></textarea>
        <mat-error *ngIf="createProductForm.get('description')?.hasError('required')">
          Product description is required
        </mat-error>
        <mat-error *ngIf="createProductForm.get('description')?.hasError('minlength')">
          Product description must be at least 5 characters long
        </mat-error>
      </mat-form-field>

      <div *ngIf="errorMessage" class="error-message">
        {{ errorMessage }}
      </div>

      <div mat-dialog-actions align="end">
        <button mat-button type="button" (click)="close()">Cancel</button>
        <button mat-button type="submit" [disabled]="createProductForm.invalid || isLoading">
          {{ isEdit ? (isLoading ? 'Updating...' : 'Edit') : (isLoading ? 'Creating...' : 'Create') }}
        </button>
      </div>
    </form>
  </div>
</div>
